.next
node_modules
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next-dev-*.log
coverage
dist
public/uploads/products/*
!public/uploads/products/.gitkeep

.vercel
certs/*.pem

.env*.local
